body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffebf0;
    margin: 0;
    padding: 0;
    background-image: url(https://img1.picmix.com/output/stamp/normal/9/9/4/3/1503499_8efaf.gif);
}

.container {
    background: white;
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history {
    background: #ffffff;
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#history{
    list-style-type: none;
}

h1 {
    color: #ff4d6d;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ff4d6d;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #ff4d6d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    background: #ff1f4b;
}

#result {
    font-size: 24px;
    color: #ff4d6d;
    margin-top: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group input {
    margin-left: 10px;
    flex: 1;
}

.color-switch {
    background-color: #008CBA; /* Initial color: Blue */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.color-switch img {
    width: 15px;
    height: 15px;
}

.color-switch.pink {
    background-color: #ff69b4; /* Pink */
}

.input-group .color-switch:hover {
    background-color: #008CBA; /* Change to desired hover color */
}

.heart {
    margin-top: 10px;
}

.heart .heartSvg{
    width: 300px;
}

.heart .percentageText {
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #ffff;
    font-weight: bold;
    font-size: 15px;
}

#clipRect {
    transition: y 1s ease, height 1s ease;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

.notification.success {
    background-color: #28a745;
}

.notification.error {
    background-color: #dc3545;
}

.notification.fade-out {
    opacity: 0;
}